.header{
    height: 100px;
}

body{
    margin: 0;
}
.header img {
    float: left;
    margin-left: 30px;
    width: 200px;
    height: 80px;
    background:white;
}

@font-face {
    font-family: sansation;
    src: url(sansation/Sansation_Regular.ttf);
}

.header nav{
    float: right;
    background: rgb(220, 219, 219);
    border-radius: 5px;
    border: 100px;
    margin: 15px;
    font-family: sansation;
    font-weight: bold;
    color: black;
}

.header nav table{
    border: 0px;
    margin: 10px;
    
}

.header nav table th{
    border-right: solid 3px rgb(0, 0, 0);
}

.header nav a{
    margin: 10px;
    text-decoration: none;

}

a:link{
    color: black;
}

a:visited{
    color:transparent;
}

a:hover{
    color: rgb(211, 7, 7);
}

.header nav a img{
    width: 25px;
    height: 25px;
    background:rgb(220, 219, 219) ;
    margin-left: 15px;

}
