.header img {
    float: left;
    margin-left: 30px;
    width: 200px;
    height: 80px;
    background:white;
}

@font-face {
    font-family: sansation;
    src: url(../sansation/Sansation_Regular.ttf);
}

.header nav{
    float: right;
    background: rgb(181, 178, 178);
    margin: 15px;
    font-family: sansation;
    
}

.header nav a{
    margin: 10px;

}

.header nav a img{
    width: 25px;
    height: 25px;
    background:rgb(181, 178, 178) ;

}
